/* styles.css */

/* Define a clean and modern font */
body {
  font-family: "Arial", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #f0f2f3;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the profile name */
#profile-name {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

/* Style the main container */
#main-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 800px;
}

/* Style the question element */
#question {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Style the options container */
#options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Style individual options */
.option {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 5px;
}

.option:hover {
  background-color: #ddd;
}

.option.selected {
  background-color: #5e4aef; /* Change to desired background color */
  color: white;
}

/* Style the answer element */
#answer {
  margin-top: 20px;
  font-weight: bold;
  color: #007bff;
}

/* Style the buttons */
button {
  background-color: #213271;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Align buttons */
#button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#show-answer {
  background-color: #e86349; /* Change this to your desired color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#nav-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

#nav-buttons {
  display: flex;
  gap: 10px;
}

#prev,
#next {
  padding: 10px 20px;
  cursor: pointer;
}

#question-info {
  font-size: 1.2em;
  font-weight: bold;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.modal input[type="file"],
.modal textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal button {
  background-color: #213271;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 5px;
  transition: background-color 0.3s;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal h3 {
  margin-top: 20px;
  font-size: 1.2em;
}
